*   {
    box-sizing: border-box;
    margin: 0;
}

body    {
    font-family: 'DM Sans', sans-serif;
    color: #2B292D;
}

/* header */

header  {
    background-color: #FDDED8;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

header h1   {
    font-size: 40px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -0.05em;
    text-align: center;
}

header p    {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.375;
    letter-spacing: -0.01em;
    text-align: center;
    margin-top: 24px;
}

header a    {
    display: block;
    font-size: 15px;
    font-weight: 700;
    line-height: 1.6;
    letter-spacing: -0.05em;
    text-decoration: none;
    width: 140px;
    height: 48px;
    padding-top: 12px;
    padding-left: 34px;
    border-radius: 2px;
}

.header-btn {
    margin-top: 24px;
    display: flex;
    justify-content: center;
}

.header-btn a:first-child {
    background-color: #3040C4;
    color: #FFF;
    
}

.header-btn a:last-child    {
    background-color: #FFF;
    color: #3040C4;
    margin-left: 8px;
}

/* Description */

.description    {
    background-color: #F4F5F7;
    height: 100vh;
    padding: 80px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.description h3 {
    font-size: 22px;
    font-weight: 700;
    line-height: 1.3636363636;
    letter-spacing: -0.04em;
}

.description p  {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: -0.01em;
    margin-top: 16px;
}

/* Main */

/* Program */

.program    {
    padding: 80px 15px;
}

.program strong {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: -0.01em;
    color: #009B4D;
}

.program h1 {
    font-size: 34px;
    font-weight: 700;
    line-height: 1.0588235294;
    letter-spacing: -0.03em;
    margin-top: 8px;
}

.program p  {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: -0.01em;
    margin-top: 24px;
}

.program-detail {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.program-detail h3  {
    display: block;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.3333333333;
    letter-spacing: -0.02em;
    text-align: center;
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    padding-top: 24px;
    padding-bottom: 32px;
}

.program-detail h3:nth-child(2), h3:last-child  {
    margin-top: 20px;
}

.program-detail h3:first-child::before  {
    content: '';
    display: block;
    height: 195px;
    width: auto;
    margin-bottom: 16px;
    background-image: url("./img/img-fulltime-campus.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.program-detail h3:nth-child(2)::before  {
    content: '';
    display: block;
    height: 195px;
    width: auto;
    margin-bottom: 16px;
    background-image: url("./img/img-fulltime-remote.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.program-detail h3:last-child::before  {
    content: '';
    display: block;
    height: 195px;
    width: auto;
    margin-bottom: 16px;
    background-image: url("./img/img-parttime-flex.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

/* Curriculum */

.curriculum {
    padding: 80px 15px;
}

.curriculum-main strong  {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: -0.01em;
    color: #0189D1;
}

.curriculum-main h1  {
    font-size: 34px;
    font-weight: 700;
    line-height: 1.0588235294;
    letter-spacing: -0.03em;
    margin-top: 8px;
}

.curriculum-main p   {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: -0.01;
    margin-top: 24px;
}

.curriculum-main a   {
    display: block;
    font-size: 15px;
    font-weight: 700;
    line-height: 1.6;
    letter-spacing: -0.05em;
    text-decoration: none;
    color: #FFF;
    background-color: #3040C4;
    border-radius: 2px;
    width: 140px;
    height: 48px;
    padding: 12px 34px;
    margin-top: 32px;
}

.curriculum-description p {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.4666666667;
    letter-spacing: -0.01em;
}

.curriculum-description p:first-child   {
    margin-top: 48px;
}

.curriculum-description p:last-child   {
    margin-top: 40px;
}

.curriculum-description p strong    {
    font-weight: 700;
}

/* Subscribe Section */

section {
    width: 100%;
    height: 100vh;
    background-color: #F2F8FA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.subscribe  {
    padding: 40px 15px;
}

section img    {
    display: block;
    width: 220px;
    height: auto;
    margin-top: 15px;
    margin-bottom: 16px;
}

.subscribe h1   {
    font-size: 32px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -0.05em;
}

.subscribe p    {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: -0.01em;
    margin-top: 16px;
}

.subscribe-form {
    margin-top: 24px;
}

.subscribe-form input  {
    border-style: none;
    padding: 12px 16px;
    width: 100%;
    border-radius: 2px;
}

.subscribe-form input::placeholder  {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: -0.01em;
    color: #7B7B7E;
}

.subscribe-form button  {
    font-size: 15px;
    font-weight: 700;
    line-height: 1.6;
    letter-spacing: -0.05em;
    border-style: none;
    background-color: #3040C4;
    color: #FFF;
    width: 100%;
    border-radius: 2px;
    padding: 12px 106px;
    margin-top: 8px;
}

.subscribe span {
    font-size: 13px;
    font-weight: 400;
    line-height: 1.5384615385;
    margin-top: 8px;
    color: #7B7B7E;
}

footer  {
    padding: 24px 15px;
    display: flex;
    flex-direction: column;
}

footer span {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7142857143;
    letter-spacing: -0.01em;
    color: #807F81;
}

footer span:nth-child(2),
footer span:last-child  {
    margin-top: 8px;
}

/* DESKTOP */

@media screen and (min-width: 769px) {

    /* header */

    header  {
        height: 568px;
    }

    header h1 {
        font-size: 70px;
        line-height: 1.0285714286;
    }

    header p    {
        font-size: 22px;
        line-height: 1.4545454545;
        margin-top: 32px;
    }

    header a    {
        font-size: 18px;
        line-height: 1.5555555556;
        width: 160px;
        height: 56px;
        padding-top: 14px;
        padding-left: 37px;
    }

    .header-btn {
        margin-top: 32px;
    }

    .header-btn a:last-child    {
        margin-left: 16px;
    }

    /* Description */

    .description    {
        height: 340px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 80px 255px;
    }

    .description h3 {
        font-size: 26px;
        line-height: 1.3076923077;
        letter-spacing: -0.04em;
    }

    .description p  {
        font-size: 22px;
        font-weight: 400;
        line-height: 1.4545454545;
        letter-spacing: -0.01em;
    }

    .left-content   {
        width: 370px;
    }

    .right-content  {
        margin-left: 110px;
        width: 450px;
    }

    .right-content h3   {
        margin-top: 0;
    }

    /* Main */

    /* Program */

    .program    {
        padding: 80px 255px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .program strong {
        font-size: 22px;
        line-height: 1.0909090909;
    }

    .program h1 {
        font-size: 56px;
        line-height: 1;
    }

    .program p  {
        font-size: 22px;
        line-height: 1.4545454545;
        width: 770px;
    }

    .program-detail {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .program-detail h3  {
        font-size: 20px;
        line-height: 1.2;
        width: 290px;
        height: 299px;
    }

    .program-detail h3:first-child:before, 
    .program-detail h3:nth-child(2):before, 
    .program-detail h3:last-child:before  {
        margin-bottom: 32px;
    }

    .program-detail h3:nth-child(2), h3:last-child  {
        margin-top: 0;
        margin-left: 30px;
    }

    .program-detail h3:hover  {
        background-color: #3141C5;
        color: #FFF;
    }

    /* Curriculum */

    .curriculum {
        padding: 80px 255px;
    }

    .curriculum-main    {
        width: 450px;
        height: auto;
    }

    .curriculum-main strong {
        font-size: 22px;
        line-height: 1.0909090909;
    }

    .curriculum-main h1 {
        font-size: 56px;
        line-height: 1;
        margin-top: 16px;
    }

    .curriculum-main p  {
        font-size: 22px;
        line-height: 1.4545454545;
        margin-top: 32px;
    }

    .curriculum-main a  {
        margin-top: 72px;
    }

    .curriculum-contents::after {
        content: '';
        display: block;
        background-image: url("./img/img-curriculum.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
        width: 450px;
        height: 450px;
        margin-left: 30px;
    }

    .curriculum-contents    {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .curriculum-description {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 24px;
    }

    .curriculum-description p {
        font-size: 18px;
        line-height: 1.4444444444;
        width: 450px;
    }

    .curriculum-description p:first-child,
    .curriculum-description p:last-child   {
        margin-top: 0;
    }

    .curriculum-description p:last-child    {
        margin-left: 30px;
    }

    /* Subscribe Section */

    section {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 460px;
    }

    section img {
        display: block;
        width: 300px;
        height: auto;
    }

    .subscribe  {
        display: flex;
        flex-direction: column;
        text-align: left;
        width: 530px;
        height: auto;
        margin-left: 70px;
    }

    .subscribe h1   {
        font-size: 40px;
        font-weight: 700;
        line-height: 1;
        letter-spacing: -0.05em;
    }

    .subscribe p    {
        font-size: 22px;
        font-weight: 400;
        line-height: 1.4545454545;
    }

    .subscribe-form {
        display: flex;
        flex-direction: row;
    }

    .subscribe-form input   {
        width: 362px;
        height: 56px;
        padding: 16px 16px;
    }

    .subscribe-form input::placeholder  {
        font-size: 18px;
        font-weight: 400;
        line-height: 1.3333333333;
    }

    .subscribe-form button  {
        font-size: 18px;
        line-height: 1.3333333333;
        padding: 15px 28.28px;
        width: 160px;
        height: auto;
        margin-left: 8px;
        margin-top: 0;
    }

    /* Footer */
    
    footer  {
        display: flex;
        flex-direction: row;
        margin: 16px 255px;
        padding: 0;
    }

    footer span:nth-child(2),
    footer span:last-child  {
        margin-top: 0;
        margin-left: 16px;
    }
}